@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #69a297;
  --accent-color: #50808e;
  --white-color: #ddd8c4;
  --black-color: #0e0d0d;
  --gray-color: #333;
}

body {
  background-color: var(--white-color);
  font-family: "Lato", sans-serif;
  color: var(--gray-color);
  line-height: 1.6rem;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "playfair display", sans-serif;
}

header {
  padding: 1.2rem 0;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

a:hover {
  color: var(--accent-color);
}

.logo {
  text-align: center;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
  font-size: 1.3rem;
}
